<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Megapka</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- CSS -->
    <link rel="stylesheet" href="styles/styles.css" />
    <link rel="stylesheet" href="styles/profile.css">
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <style>
        
    </style>
</head>

<body>
    <!-- Nav bar -->
    <nav>
        <div class="logo">
            <i class="bx bx-menu menu-icon"></i>
            <span class="logo-name">Megapka</span>
        </div>
        <div class="sidebar">
            <div class="logo">
                <i class="bx bx-menu menu-icon"></i>
                <span class="logo-name">Megapka</span>
            </div>
            <div class="sidebar-content">
                <ul class="lists">
                    <li class="list">
                        <a href="#" class="nav-link" id="profil-btn">
                            <i class="bx bx-home-alt icon"></i>
                            <span class="link">Profil</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="posts" class="nav-link" id="forum-btn">
                            <i class="bx bx-bell icon"></i>
                            <span class="link">Forum</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" class="nav-link" id="poziom-btn">
                            <i class="bx bx-bar-chart-alt-2 icon"></i>
                            <span class="link">Poziom</span>
                        </a>
                    </li>
                </ul>
                <div class="bottom-cotent">
                    <li class="list">
                        <a href="#" class="nav-link">
                            <i class="bx bx-cog icon"></i>
                            <span class="link">Ustawienia</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="login" class="nav-link">
                            <i class="bx bx-log-out icon"></i>
                            <span class="link">Wyloguj się</span>
                        </a>
                    </li>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-profile" id="profile-section-main">
        <section class="profile-section">
            <h1 class="h1-profile">Profil</h1>
            <div class="profile-info">
                <label for="username">Nazwa:</label>
                <span id="username">
                    <%= user.login %>
                </span>
            </div>
            <div class="profile-info">
                <label for="fullname">Full Name:</label>
                <span id="fullname">
                    <%= user.full_name %>
                </span>
            </div>
            <div class="profile-info">
                <label for="email">Email:</label>
                <span id="email">
                    <%= user.email %>
                </span>
            </div>
            <div class="profile-info">
                <label for="birthdate">Birthdate:</label>
                <span id="birthdate">
                    <%= user.date_of_birth %>
                </span>
            </div>
            <div class="profile-info">
                <label for="bio">Bio:</label>
                <span id="bio">
                    <%= user.descr %>
                </span>
            </div>
        </section>
    </div>


    <section class="overlay"></section>
    <script src="scripts/script.js" defer>

    </script>
</body>

</html>